body {
    background-color: red;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    border-bottom: 3px solid black;
}

.muro {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    width: 200px;
    border: 2px solid black;
    padding: 10px;
}

.post img {
    width: 100%;
    border: 1px solid black;
}